<html lang="es">
  <head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="35">
<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153713085-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-153713085-1');
    </script>
<!-- Estilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles.css">
    <title>Está de cumpleaños Candelaria?</title>
  </head>
  <body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<!-- Contenido -->
    {%if si_cumple%}
      <h1 class="display-1">Si! Feliz cumpleaños!</h1>
    {%elif falta == 1%}
      <h1 class="display-1">No, hoy no.</h1>
      <h1 class="display-2">Falta {{falta}} día.</h1>
    {%elif falta > 1%}
      <h1 class="display-1">No, hoy no.</h1>
      <h1 class="display-2">Faltan {{falta}} días.</h1>
    {%else%}
      <h1 class="display-1">No, hoy no.</h1>
      <h1 class="display-2">Pero faltan {{horas}} horas!</h1>
    {%endif%}
      <h1>
    {%if falta > 30 and si_cumple!=1%}
      <span class="badge badge-success">Falta {{segs}}</span>
    {%elif falta <= 30 and falta >=7 and si_cumple!=1 %}
      <span class="badge badge-warning">Queda poco! {{segs}}</span>
    {%elif si_cumple!=1%}
      <span class="badge badge-danger">Ojo! Queda muy poco! {{segs}}</span>
    {%endif%}
    </h1>
    <blockquote class="blockquote text-center">
      <p class="mb-0"><br>Martes 6 de Octubre de 2020: Cande pasó de largo durmiendo por
        primera vez, desde las 20:15 hasta las 07:30! Con 1 año y 9 meses. =)</p>
      <footer class="blockquote-footer">No puede ser... <cite title="Source Title">Cristóbal,
         despertando nervioso, incrédulo a las 6:30 am</cite></footer>
    </blockquote>
    <blockquote class="blockquote text-center">
      <p class="mb-0"><br>Miércoles 15 de Junio de 2022: Cande va al baño solita por primera vez, se depierta 4:30 saca los pañales y sube la tapa del wc, luego se va a acostar...</p>
      <footer class="blockquote-footer">Solita! se fue a acostar? <cite title="Source Title">Kika y Cristóbal, medios desvelados, sonriendo en la noche..</cite></footer>
    </blockquote>


  </body>
</html>
